ASSIGNMENT 1
CREATE TWO DIFFERENT EXAMPLES FOR COLLECTIVE DATATYPES IN PYTHON

DICTIONARY DATA TYPE IN PYTHON
EXAMPLE 1

In [ ]:
#Creating am empty dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
# Creating a dictionary
# With Integer keys
Dict = {1: 'Geeks',2: 'For',3: 'Geeks'}
print("\nDictionary with the use of integer keys: ")
print(Dict)

Dictionary with the use of integer keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
# Creating a dictionary
# With Mixed Keys
Dict = {'Name':'Geeks', 1: [1,2,3,4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [ ]:
# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For' , 3: 'Geeks'})
print("\nDictionary with the use if dict(:)")
print(Dict)

Dictionary with the use if dict(:)
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
# Creating a Dictionary
# with each item as a pair
Dict = dict([(1,'Geeks') , (2,'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

EXAMPLE2

In [3]:
# Create a dictionary named capital_city
capital_city = {'Nepal':'Kathmandu','Italy':'Rome','England':'London'}
print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

SET DATATYPE IN PYTHON EXAMPLE 1

In [ ]:
# Python program to demonstrate 
# Creation of set in python
# Creating a set
set1 = set()
print("Inital blank set: ")
print(set1)

Inital blank set:
set()

In [ ]:
# Creating a set with
# the use of a String
set1 = set("GeeksForGeeks")
print("\nSet with the use of string: ")
print(set1)

Set with the use of string:
{'G', 'k', 'r', 'F', 'e', 's', 'o'}

In [ ]:
# Creating a set with
# the use of a list
set1 = set["Geeks","For","Geeks"]
print("\nSet with the use of a List: ")
print(set1)

Set with the use of a List:
set['Geeks', 'For', 'Geeks']

In [ ]:
# Creating a set with
# a mixed type of values
# (Having numbers and strings)
set1 = set([1,2, 'Geeks',4, 'For',6, 'Geeks'])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Mixed Values
{1, 2, 4, 6, 'For', 'Geeks'}

EXAMPLE2

In [6]:
# Create a set named student_id
student_id = {112,114,116,118,115}

# display student_id elements
print(student_id)

# display type of student_id
print(type(student_id))

{112, 114, 115, 116, 118}
<class 'set'>

NUMERIC DATATYPE IN PYTHON EXAMPLE1

In [12]:
# python program to type
# demonstrate numeric value

a = 5
print("Type of a: ",type(a))

b = 5.0
print("\nType of b: ",type(b))

c = 2+4j
print("\nType of c: ",type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

EXAMPLE2

In [9]:
num1 = 5
print(num1,'is of type',type(num1))

num2 = 2.0
print(num2,'is of type',type(num2))

num3 = 1+2j
print(num3,'is of tpe',type(num3))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of tpe <class 'complex'>

There are several sequences types in python they are
1.python string
2.python list
3.python tuple

EXAMPLE1

In [11]:
languages = ["swift","java","python"]

# access element at index 0
print(languages[0])    # swift

# access element at index 1
print(languages[1])    # java

# access element at index 2
print(languages[2])    # python

swift
java
python

EXAMPLE2

In [14]:
# python program for 
# Creation of string
# creation of string
# with single Quotes
string1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(string1)
# creating a string 
# with double Quotes
string1 = "I'm a Geek"
print("\nstring with the use of Double Quotes: ")
print(type(string1))
# creating a string
# with trile Quotes
string1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nstring with the use of Triple Quotes: ")
print(string1)
print(type(string1))
# Creating string with triple 
# Quotes allows multiple lines
string1 = '''Geeks
            For
            Life'''
print("\ncreating a multiple line string: ") 
print(string1)

String with the use of Single Quotes:
Welcome to the Geeks World

string with the use of Double Quotes:
<class 'str'>

string with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"
<class 'str'>

creating a multiple line string:
Geeks
            For
            Life

BOOLEAN DATATYPE IN PYTHON EXAMPLE1

In [17]:
# python program to 
# demonstrate boolean type
print(type(True))
print(type(False))

print(type(True))

<class 'bool'>
<class 'bool'>
<class 'bool'>

NOTE - True and False with capital T and F are valid booleans otherwise python will throw an error